<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('nav') %>

    <h1><%= title %></h1>

      <% files.forEach(function(file){ %>

        <h2><a href="/file/<%= file.id %>"><%= file.filename %></a></h2>

      <% }); %>
    <form action="" method="POST" enctype="multipart/form-data">
        <label for="file">add some files to "<%= title %>" folder</label>
        <input name="file" type="file" />
        <br>
        <button type="submit">Upload</button>
    </form>
  </body>
</html>